body {
	max-width: 960px;
	font-family: Helvetica;
	margin-left: auto;
	margin-right: auto;
}
/*nav bar*/
header nav{
	width:100%;
	text-align: center;
	display: block;
	position: relative;
	top:0px;
	margin-bottom: 0;
	padding-bottom: 2em;
	border-bottom: 1px solid black;
}

header img{
	width:70px;
	height:70px;
	display: block;
	padding-top: 10%;
}

#logo {
	margin: 0;
	padding: 0;
}

nav ul li {
	color:black;
	padding: 3% 3% 0 3%;
	list-style-type: none;
	display: inline-block;
	font-weight: bold;
	margin:0 3%;
	top:0;
	position: relative;
	height: 40px;
}

#li1:hover {
	color:white;
	background: #C59C45;
}

#li2:hover {
	color:white;
	background: #458B47;
}

#li3:hover {
	color:white;
	background: #B43035;
}

#li4:hover {
	color:white;
	background: #DE4E30;
}
/*end navbar*/
section {
	text-align: center;
	line-height: 2em;
}
/*title*/
#fecha{
	width: 60px;
	height: 60px;
	position: relative;
	line-height: 1.2em;
	letter-spacing: .1em;
	font-weight: bold;
	font-size: 1em;
	padding: 1%;
	top: 80px; 	
	left: 120px;
	text-align: center;
}

#wbw {
	font-weight: bold;
	font-size: 1.75em;
}

#key {
	margin-bottom: 5%;
}
/*end title*/
article {
	width: 75%;
	text-align: justify;
	margin-left: auto;
	margin-right: auto;
	font-size: 1em;
}

article h3 {
	font-weight: bold;
}

#objectives {
	width: 100%;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	margin: 2% 0;
	padding: 2% 0;
	text-align: center;
}

h3 {
	margin-bottom: 1%;
}

article ul li{
	padding: 7% 4%;
	margin-left: 2%;
	margin-bottom: 2%;
	list-style-type: none;
	display: inline-block;
	font-weight: bold;
	position: relative;
	text-align: center;
}

/*number objectives*/
span {
	font-size: 2em;
}

#inform {
	color: white;
	background: #C59C45;
	-webkit-animation-name: fadeIn;
	-webkit-animation-duration: 2s;
	-webkit-animation-delay: 1s;
	-webkit-animation-iteration-count: 1;
}

#anclar {
	color: white;
	background: #458B47;
	-webkit-animation-name: fadeIn;
	-webkit-animation-duration: 2s;
	-webkit-animation-delay: 2s;
	-webkit-animation-iteration-count: 1;
}

#impulse{
	color: white;
	background: #B43035;
	-webkit-animation-name: fadeIn;
	-webkit-animation-duration: 2s;
	-webkit-animation-delay: 3s;
	-webkit-animation-iteration-count: 1;
}

#participar {
	color: white;
	background: #DE4E30;
	-webkit-animation-name: fadeIn;
	-webkit-animation-duration: 2s;
	-webkit-animation-delay: 4s;
	-webkit-animation-iteration-count: 1;
}
/*titulos temas texto*/
#yellow {
	color:#C59C45;
	font-size: 1em;
}

#green {
	color: #458B47;
	font-size: 1em;
}

#red {
	color:#B43035;
	font-size: 1em;
}

#orange {
	color: #DE4E30;
	font-size: 1em;
}

#blue {
	color:#213664;
	font-size: 1em;
}

.yellow2{
	border-left: 5px solid #C59C45;
	color: #C59C45;
	width: 100px;
	font-size: .75em;
	line-height: 1.5em;
	padding: 10px;
	margin: 8px;
	text-align: left;
}

.green2 {
	border-left: 5px solid #458B47;
	color: #458B47;
	width: 100px;
	font-size: .75em;
	line-height: 1.5em;
	padding: 10px;
	margin: 8px;
	text-align: left;
}

.red2 {
	border-left: 5px solid #B43035;
	font-size: 1em;
	color:#B43035;
	width: 100px;
	font-size: .75em;
	line-height: 1.5em;
	padding: 10px;
	margin: 8px;
	text-align: left;
}

.orange2 {
	border-left: 5px solid #DE4E30;
	color: #DE4E30;
	width: 100px;
	font-size: .75em;
	line-height: 1.5em;
	padding: 10px;
	margin: 8px;
	text-align: left;
}

.blue2 {
	border-left: 5px solid #213664;
	color: #213664;
	width: 100px;
	font-size: .75em;
	line-height: 1.5em;
	padding: 10px;
	margin: 8px;
	text-align: left;
}

.topics tbody {
	display: flex;
	flex-direction: row;
	align-self: 'stretch';
	justify-content: center;
}

tr {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 10px 0;
}

.topics tbody tr td {
	justify-content: column;
}

footer {
	background: gray;
	color: white;
	position: relative;
	text-align: center;
	padding: 2%;
}

@-webkit-keyframes color {
	0% {
		background: #B43035;
		color: white;
	}

	100% {
		background: white;
		color: #B43035;
	}
}

#fecha {
	-webkit-animation-name: color;
	-webkit-animation-duration: 5s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-direction:alternate;
	-webkit-animation-timing-function: ease-in-out;
}

@media screen and (max-width:500px) { 

	nav {
		text-align: center;
		margin-top: 20px;
	}

	#li1, #li2, #li3, #li4{
		margin: 10px;
		padding: 0px;
	}

	#fecha {
		display: none;
	}

	.topics {
		display: none;
	}

	#inform, #anclar, #impulse, #participar{
		display: block;
		margin-bottom: 10px;
	}

	section {
		margin-top: 50px;
	}

	#objectives {
		width: 80%;
		text-align: center;
		margin: 50px;
	}

}
