<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="css/reset.css">
	<link rel="stylesheet" href="css/style.css">
	<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&subset=cyrillic" rel="stylesheet">
	<script src="https://use.fontawesome.com/d22d361a2c.js"></script>
	<link href="css/hover.css" rel="stylesheet" media="all">
	<title>Sebastião Salgado</title>
</head>

<body>
	<div><img src="images/logo.png" alt="logo" id="logo"></div>
	<div><img src="images/logo2.png" alt="logo" id="logoshow"></div>

	<!-- social media -->

	<ul class="icons">
		<li><a href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook-official hvr-icon-float" aria-hidden="true"></i></a></li>
		<li><a href="https://www.flickr.com/" target="_blank"><i class="fa fa-flickr hvr-icon-float" aria-hidden="true"></i></a></li>
		<li><a href="https://www.instagram.com/" target="_blank"><i class="fa fa-instagram hvr-icon-float" aria-hidden="true"></i></a></li>
		<li><a href="https://twitter.com/" target="_blank"><i class="fa fa-twitter hvr-icon-float" aria-hidden="true"></i></a>
		</li>
	</ul>

	<!-- nav bar -->

	<header>
		<nav>

			<ul>
				<li class="hvr-underline-from-center">Home</li>
				<li class="hvr-underline-from-center">Bio</li>
				<li class="hvr-underline-from-center">Projects</li>
				<li class="hvr-underline-from-center">Instituto Terra</li>
				<li class="hvr-underline-from-center">Contact</li>
			</ul>
		</nav>
	</header>

	<!-- large image -->

	<div class="main"><img src="images/main.jpg" alt="Mali, 1985"></div>

	<!-- middle image -->

	<div class="woman"><img src="images/woman.jpg" alt="Blind Woman, Mali"></div>

	<!-- middle text -->

	<div class="text1">
		<img src="images/ted.png" alt="tedlogo" id="ted">
		<h2>Sebastião Salgado:</h2>
		<h1>"The silent drama of photography"</h1>
		<h3><a href="https://www.ted.com/talks/sebastiao_salgado_the_silent_drama_of_photography?language=en" target="_blank">Watch</a></h3>
	</div>

	<!-- last text -->

	<div class="text2">
		<span id="sup">"</span>

		<h3>So many times I’ve photographed stories that show the degradation of the planet. I had one idea to go and photograph the factories that were polluting, and to see all the deposits of garbage. But, in the end, I thought the only way to give us an incentive, to bring hope, is to show the pictures of the pristine planet – to see the innocence.</h3>

		<span id="sub">"</span>
	</div>

	<!-- last image -->

	<div class="profile">
		<img src="images/profile.jpg" alt="Sebastião Salgado">
	</div>

	<footer>
		<p>Sebastião Salgado © 2016</p>
		<!-- social media when responsive -->
		<div class="iconshow">

			<a href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook-official hvr-icon-float" aria-hidden="true"></i></a>
			<a href="https://www.flickr.com/" target="_blank"><i class="fa fa-flickr hvr-icon-float" aria-hidden="true"></i></a>
			<a href="https://www.instagram.com/" target="_blank"><i class="fa fa-instagram hvr-icon-float" aria-hidden="true"></i></a>
			<a href="https://twitter.com/" target="_blank"><i class="fa fa-twitter hvr-icon-float" aria-hidden="true"></i></a>
			</div>
		</footer>
	</body>
	</html>