body {
	font-family: 'Open Sans', sans-serif;
}

header {
	padding: 3% 40%;
	text-align:center;
}

nav ul {
	list-style-type: none;
	text-align: center;
	margin: 15px;
}

nav li {
	font-weight: bold;
	font-size: 14px;  
	display: inline-block;
	padding: 0px 50px;
}

section {
	margin: 30px;
}

section h1 {
	font-size:32px;
	font-weight: bold;
	line-height: 40px;
}

article {
	float:left;
	clear: right;
	width: 75%;
}

article p {
	font-size: 12px;
	line-height: 20px;
}

article h2 {
	font-size: 18px;
	font-weight: bold;

}

small {
	font-weight: bold;
	font-size:12px;

}

#article2 {
	margin-top: 30px;
}

button {
	background-color:black;
	color: white;
	border-color: black;
	margin-top: 10px;
}

aside {
	clear:left;
	float:right; 
	border-style: solid; 
	border-width: 0.5px; 
	display:inline-block; 
	position: absolute; 
	width: 150px; 
	height: 430px;
	margin-left: 50px;
	top: 300px;
}

aside ul {
	list-style-type: none;
	padding-left: 0px;
	font-size:14px;
	margin-left: 10px;
}

aside h5 {
	font-weight: bold;
	margin: 15px;
	line-height: 24px;
	padding-left: 10px;

}

aside li {
	margin: 15px;
	padding: 0px;
	line-height: 10px;
}

footer {
	font-weight: bold;
	font-size: 10px;
	clear: both;
	margin: 30px;
}